{% extends 'base.html' %}
{% load static %}

{% block main %}


<!-- SEÇÃO -->
<div class="section" id="section1">
    <div class="container">
        <div class="row" id="row1">
            <div id="store" class="col-md-9">
                <div class="row">


                    {% for produto in produtos %}
                    <div class="col-md-4 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                {% if produto.imagem %}
                                <img src="{{ produto.imagem.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ produto.categoria }}</p>
                                <h3 class="product-name"><a href="#">{{ produto.nome }}</a></h3>
                                <h4 class="product-price">${{ produto.preco }}</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-btns">
                                    <a href="{% url 'produto_editar' id=produto.id %}" class="btn btn-primary btn-sm" style="border-radius: 20px;">Editar</a>
                                    <a href="{% url 'produto_remover' id=produto.id %}" class="btn btn-danger btn-sm" style="border-radius: 20px;">Remover</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <a href="{% url 'produto_criar' %}" class="btn btn-primary btn-sm" style="margin-top: 30px; border-radius: 20px;">Cadastrar novo produto</a>
                
            </div>
        </div>
    </div>
</div>
<!-- /SEÇÃO -->

{% endblock %}